@using MoviesMVC.Models;
@model IEnumerable<MoviesMVC.Models.MovieViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Some Movie Site</h1>
    <p class="lead">Just a practice app for ASP.NET MVC.</p>
</div>

<div class="row">
    @foreach (MovieViewModel movie in Model)
    {
        <div class="col-md-4" >
            <div class="row">
                <div class="col-sm-6">
                    <h2>@movie.Title</h2>
                    <p>@movie.Genre</p>
                    <p>@movie.ReleaseDate</p>
                    <p>@movie.Price</p>
                </div>
                <div class="col-sm-6">
                    <div class="btn-group-vertical" role="group" aria-label="...">
                        @Html.ActionLink("Edit", String.Format("Edit/{0}", movie.ID), "Movies", new object { }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Details", String.Format("Details/{0}", movie.ID), "Movies", new object { }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Delete", String.Format("Delete/{0}", movie.ID), "Movies", new object { }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>